* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#main-section {
    background: 
     
    padding: 48px;
}

.comparisons-container {
    text-align: center;
    margin: 60px 0px;
}

.comparisons-container h3 {
    font-size: 36px;
}

.comparisons-layout-1 {
    display: flex;
    justify-content: center;
}

.comparisons-layout-1 .comparison-column {
    background-color: whitesmoke;
    border: 3px solid #49c0b6;
    padding: 24px;
}

.comparisons-layout-1 .comparison-column h4,
.comparisons-layout-1 .comparison-column p {
    padding: 24px 48px;
}

.comparisons-layout-1 .comparison-column h4 {
    background-color: #0c3866;
    color: #49c0b6;
    font-size: 24px;
    margin: 0px
}

.comparisons-layout-1 .comparison-column p {
    font-size: 18px;
    margin: 0px;
    border-top: 3px solid #49c0b6;
}

.comparisons-layout-1 .comparison-column .label {
    display: block;
    font-weight: bold;
    padding-bottom: 12px;
}

.comparison-row.comparison-header {
    font-weight: bold;
}

.comparison-row div {
    flex: 1;
    padding: 24px;
    font-size: 24px;
}

.comparisons-layout-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.comparisons-layout-3 div {
    padding: 24px;
    font-size: 24px;
    border-bottom: 3px solid #754668;
}

.comparisons-layout-3 .label {
    font-weight: bold;
}

#top-section {
    background: 
        radial-gradient(at top left, #007cc0, #95afba);
    padding: 48px;
}

.side-by-side .text-container a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: #0c3866;
    color: whitesmoke;
    padding: 24px 48px;
    border-radius: 48px;
}

.side-by-side .image-container {
    flex: 1;
}

.side-by-side .text-container {
    flex: 1;
    padding: 36px;
}

.side-by-side .image-container img {
    width: 100%;
}

.side-by-side .text-container h3 {
    font-size: 48px;
}