* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: 'Franklin Gothic Medium';
}

#hero-2 {
    background-image: url("../images/RacialEquityAudits.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-end;
}


#hero-2 h2 {
    font-size: 10vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
    color: white;
}

#hero-2 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    color: white;
}

#hero-2 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
    border: solid gold 3px;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar img {
    width: 200px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar .cta-button {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#header {
    position: sticky;
    top: 0px;
}

#navbar-bottom {
    background: linear-gradient(to bottom, gold, orange );
    display: flex;
    justify-content: space-between;
}

#navbar-bottom a {
    text-decoration: none;
    color: whitesmoke;
    padding: 12px 36px;
}