/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license {
    border: 3px solid black;
    border-radius: 16px;
    width: 700px;
    background: linear-gradient(to bottom
    right, rgb(253, 204, 114),
    rgb(237, 140, 79)) };

h1 {
    margin: 8px;
    padding: 12px;
    color: blue;
}

h4 {
    background-color: blue;
    color: white;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin: 4px;
}

#right-side {
    display: inline-block;
}

#id-and-expiration div {
    display: inline-block;
    text-align: right ;
    color: blue;
    padding-bottom: 12px;
    margin-left: 42px;
}

#small-pic, #data-fields {
    display: inline-block;
}

#data-left, #data-right {
    display: inline-block;
} 

#signature {
    text-align: center;
    padding: 4px;
}

#donor, #real-id {
    display: inline-block;
}

span, #donor {
    color: red;
    font-weight: bold;
    text-align: center;
    margin:;
}

#right-side img {
    width: 210px;
    vertical-align: 45px;
    display: inline-block;
    margin-left: 24px;
   
}

#address  {
    font-weight: bold ;
    padding: 4px;
    margin-left: 36px ;
}
 
#data-left div {
    color:blue
}

#data-right div {
    color: blue;
}

#left-side img {
    width: 100px;
    padding-left: 4px;
    opacity: 43%;
    vertical-align:50px ;
    padding-right:4px ;
}

#data-left {
    vertical-align: 55px;
}

#data-right {
    vertical-align: 55px;
    padding-left: 16px;
}

h1 {
    color: blue;
    font-size: 50px;
    margin: 0px;
}

 #left-side {
    display: inline-block;
 }

 #donor {
   padding-left: 100px;
   vertical-align: ;
 }

 #