* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#two-columns {
    display: flex;
    width: 80%;
    min-width: 600px;
    max-width: 1000px;
    margin: 48px auto;
}

#sidebar-content {
    width: 250px;
    padding: 0px 12px;
    margin-top: 24px;
    order: 2;
}

#sticky-sidebar {
    position: sticky;
    top: 24px;
}

#main-content {
    flex: 1;
    margin-right: 16px;
    order: 1;
}

#sidebar-content ul {
    list-style-type: none;
    padding: 16px;
    margin: 0px;
    border: 1px solid;
}

#sidebar-content h2 {
    background-color: black;
    padding: 8px 16px;
    color: white;
    margin: 0px;
    text-align: center;
}

#sidebar-content ul li {
    padding: 8px 0px;
}

#sidebar-content ul a {
    color: goldenrod;
    text-decoration: none;
}

